body {
    background-image: url(../Imagenes/fondo.jpeg);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    background-attachment: fixed;
    color: #fff;
}

.Cuerpo {
    height: auto;
    width: auto;
    display: flex;
    height: 800px;
}

.SliderImg {
    width: 60%;
}

.LoginRegistro {
    width: 50%;
    margin: 100px 10px 100px 10px;
    background: rgba(0, 0, 0, 0.521);
    box-shadow: 1px 2px 5px #fff;
}

.LoginRegis {
    padding: 0px 240px;
    display: flex;
    width: 50%;
    align-content: center;
    text-align: center;
}

form {
    color: #fff;
    padding: 50px 40px 20px 40px;
}

.Forgot {
    padding: 15px 0 0 110px;
}

.form-group {
    padding: 0 0 25px 0;
}

.ImgUsuario {
    width: 100%;
}

.ImgUsuario img {
    margin: 80px auto 0 240px;
}